[user]
	email = doctegl@gmail.com
	name = Davide Stasio
[credential]
	helper = store
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	longpaths = true
	hooksPath = C:\\dev\\git-nocheckin\\
